<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico:wght@200;300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>


  <link rel='stylesheet' href='public/css/index.css'>


</head>


<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 intro-section">
                <div class="brand-wrapper">
                    <h1>DiaryDash</h1>
                </div>
                <div class="intro-content-wrapper">
                    <h1 class="intro-title">Start storing notes in the cloud in seconds</h1>
                    <ul>
                      <li class="intro-text">Free</li>
                      <li class="intro-text">Open source</li>
                      <li class="intro-text">Anonymous</li>
                    </ul>


                </div>
                <div class="intro-section-footer">
                    <nav class="footer-nav">
                       <a href="https://github.com/rudibakaal/DiaryDash"> <i class="fa-brands fa-github"> </i></a> 
                    </nav>
                </div>
            </div>
            <div class="col-md-5 form-section">
                <div class="register-wrapper">
                    <h2 class="register-title">Sign Up</h2>
                    <form action="/auth/index" method="POST">
                        <div class="form-group mb-3">
                            <label for="username" class="sr-only ">Username</label>
                            <input type="text" name="username" id="username" class="form-control" placeholder="Username" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="password" class="sr-only">Password</label>
                            <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-5">
                            <button name="register" id="register" class="btn register-btn" type="submit">Register</button>
                        </div>
                    </form>
                    <p class="register-wrapper-footer-text">Already registered? <a href="/login.html" class="text-reset">Login
                            here</a></p>
                </div>
            </div>
        </div>
    </div>


    <script src="/public/js/auth.js"></script>

</body>



</html>
