
i {
  font-size: 22.5px;
  cursor: pointer;
}

#username {
  margin-left: 5px;
}

#dropdownUser1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#dropdownUser1 a {
  display: flex;
  align-items: center;
}

#dropdownUser1 .user-info {
  margin-right: 10px;
}

#dropdownUser1 .btn-group {
  margin-left: auto;
}

.btn-group button {
  margin-right: 10px;
}

body {
  font-family: 'Outfit', sans-serif;
}

#rightColumn {
  height: 100vh;
  overflow-y: auto;
  background-color: #e9ecef;
}

#editTitle,
#newTitle {
  background-color: #e9ecef;
  border: .1px solid #cbc8c8;
}

#logo h3 {
  font-family: 'Pacifico', sans-serif;
  text-align: center;
  margin-bottom: 0;
  padding-top: 20px;
  font-size: 35px;
}

#username {
  margin-left: 5px;
}

/* Media queries for responsive font sizes */
@media only screen and (max-width: 768px) {
  i {
    font-size: 18px;
  }

  #username {
    font-size: 1px;
  }

  #logo h3 {
    font-size: 35px; 
  }
}

@media only screen and (max-width: 576px) {
  i {
    font-size: 20px;
  }

  #username {
    font-size: 1px;
  }

  #logo h3 {
    font-size: 30px; 
  }
}

.btn-primary,
.btn-secondary,
.btn-warning,
.btn-danger {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.btn-secondary {
  background-color: #2196F3;
}

.btn-warning {
  background-color: #FFC107;
}

.btn-danger {
  background-color: #FF5722;
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-warning:hover,
.btn-danger:hover {
  background-color: #7CB342;
}

#editButton:hover {
  background-color: #FFA000;
}

.delete-entry-btn:hover {
  background-color: #D32F2F;
}

#currentEntryTitle {
  background-color: #e9ecef !important;
}

#currentEntry {
  text-align: center;
  padding-top: 50px;
}
