body {
    background-color: #fff;
    font-family: 'Outfit', sans-serif;
}

h1 > a {
    text-decoration: none;
    color: #fff 
}

.brand-wrapper h1 {
  font-family: 'Pacifico', sans-serif;
  font-size: 60px;
}

.brand-wrapper h1 {
  color:#e2d9d9;
}

.intro-section {
    background-image: url("https://images.unsplash.com/photo-1558051815-0f18e64e6280?q=80&w=2938&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 75px 95px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

@media (max-width: 991px) {
    .intro-section {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 767px) {
    .intro-section {
        padding: 28px;
    }
}

@media (max-width: 575px) {
    .intro-section {
        min-height: auto;
    }
}



@media (max-width: 767px) {
    .brand-wrapper {
        margin-bottom: 35px;
    }
}

.intro-content-wrapper {
    width: 410px;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.intro-content-wrapper .intro-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 17px;
}

.intro-content-wrapper .intro-text {
    font-size: 24px;
    line-height: 1.5;
}


@media (max-width: 767px) {
    .intro-section-footer {
        margin-top: 35px;
    }
}

.intro-section-footer a  {
    font-size: 50px;
    color: white
}

@media (max-width: 575px) {
    .intro-section-footer  {
        font-size: 35px;
        color: white
    }
}

.intro-section-footer  {
    margin-left: 30px;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px;
}

@media (max-width: 767px) {
    .form-section {
        padding: 35px;
    }
}

.register-wrapper {
    width: 300px;
    max-width: 100%;
}

@media (max-width: 575px) {
    .register-wrapper {
        width: 100%;
    }
}

.register-wrapper .form-control {
    border: 0;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 10px;
    margin-bottom: 7px;
}

.register-wrapper .form-control::placeholder {
    color: #b0adad;
}

.register-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.register-btn {
    padding: 13px 30px;
    background-color: #000;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.register-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}

.register-wrapper-footer-text {
    font-size: 14px;
    text-align: center;
}